* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  color: white;
  font-family: "Helvetica", sans-serif;
}

.container {
  background-color: rgb(48, 66, 54);
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
}

h1 {
  margin-top: 0;
  text-align: center;
}

input {
  padding: 12px;
  padding-left: 16px;
  border: 1px solid #ccc;
  border-radius: 999px;
  margin: 10px 0;
  width: 100%;
  outline: none;
}

p {
  text-align: center;
}

label {
  display: block;
  text-align: center;
  margin-top: 16px;
}

button {
  display: block;
  background-color: #ec3874;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 999px;
  font-weight: 700;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #ff538c;
}

#total {
  font-size: 24px;
  font-weight: bold;
  margin-top: 4px;
  text-align: center;
  display: block;
}
